.wrap{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.main-title{
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans Light', Arial;
  margin: 40px 0 0px 0;
  border-bottom: 1px solid #e0e0e0;
  color: #7f7f7f;
}
.main-description{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans Light', Arial;
  color: #6b6767;
  padding: 40 40px;
}
